doctype html
html
    head
        title
    body
        form(action='./form', method='POST')
            input(name= 'mail', type='email', placeholder='Enter your email')
            button(type='submit') Submit

