div.d-flex
    div.d-flex.mr-2
        nav.navbar.navbar-light.bg-light
            ul.nav
                div.col
                    each sitePl in sitesPl
                        div.row
                            li.nav-item
                                a.nav-link(href='/' + sitePl.nomSitePl) #{sitePl.nomSitePl}