include headerConnected

block content
    div.d-flex.min-vh-100.mt-5
        //SideBar
        ul.nav.bg-light
            div.col.align-top.p-4
                input(type="text", placeholder="Name...").w-100
                each sitePl in sitesPl
                    div.row
                        li.nav-item
                            a.nav-link(href='/' + sitePl.nomSitePl) #{sitePl.nomSitePl}

        //infos sur le site
        div.flex-fill.m-5
            each siteInfos in sitesInfos
                h1.text-center.m-3 #{siteInfos.nomSitePl}
                p.ml-5 Profondeur : #{siteInfos.profondeurSitePl} mètres
                p.ml-5.overflow-auto Description : #{siteInfos.descSitePl}

            div.bg-info
                each image in images
                    img.m-5(src="/public/images/" + image.nomImg)





