extends headerPublic


block content
    div.container
        div.row.mt-5
            div.col-md-auto
                h1.display-4.m-b-2 Formulaire d'inscription

                form(action='/login', method='POST')
                    div.form-group
                        label(for='mail') Mail:
                        input#mail.form-control(type='email', placeholder='Mail...' name='mail' required=true)
                    div.form-group
                        label(for='pwd') Mot de passe:
                        input#pwd.form-control(type='password', placeholder='Password' name='pwd' required=true)
                    button.btn.btn-primary(type='submit') Valider

                a(href="/login/inscription") Pas de compte ?