extends header


block content

    body
        p #{title}
        form(action='/login', method='POST')
            ul.nav.flex-column
                li.nav-item
                    input(name= 'mail', type='email', placeholder='mail' required=true)
                li.nav-item
                    input(name= 'pwd', type='password', placeholder='pwd' required=true)
                li.nav-item
                    button(type='submit') Submit

        a(href="/login/inscription") Pas de compte ?
