
<%- include('headerConnected.ejs'); %>

<div class="d-flex min-vh-100 mt-5">
    <ul class="nav bg-light">
        <div class=" col align-top p-4">
            <input type="text" placeholder="Name..." class="w-100">
                <a> <%= sitesPl[0].nomSitePl %></a>
        </div>
    </ul>
</div>