
<%- include('../../layouts/header.ejs'); %>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-auto">
            <h1 class="display-4 m-b-2">Login</h1>
            <form action="/login" method="POST">
                <div class="form-group, mt-5">
                    <label for="mail">Mail:</label>
                    <input class="form-control" id="mail" type="email" placeholder="Mail..." name="mail" required="required" />
                </div>
                <div class="form-group">
                    <label for="pwd">Mot de passe:</label>
                    <input class="form-control" id="pwd" type="password" placeholder="Password" name="pwd" required="required" />
                </div>
                <button class="btn btn-primary" type="submit">Valider</button>
            </form>
            <a href="/login/inscription">Pas de compte ?</a>
        </div>
    </div>
</div>


<%- include('../../layouts/footer.ejs'); %>