<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Création produit</title>
</head>


<body>

<div class="container col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <form method="post" action="/upload" enctype="multipart/form-data">

        <div class="form-group">
            <label for="photo_produit">Photo</label> :
            <input type="file" name="photo_produit" multiple>
        </div>

        <div class="form-group text-center">
            <input type="submit" class="btn btn-primary btn-dr" value="Créer le produit">
        </div>
    </form>
</div>
<br>

</body>

</html>